<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EarningsNExpenses.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D8757A11DF4B4090071EDDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D8757BA1DF4B40A0071EDDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D8757C51DF4B40A0071EDDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
